// margin top
.mt {

	@for $i from 1 through 10 {
		&--#{$i*10} {
			margin-top: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 10 {
			&--sm-#{$i*10} {
				margin-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 10 {
			&--md-#{$i*10} {
				margin-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 10 {
			&--lg-#{$i*10} {
				margin-top: #{$i*10}px;
			}
		}
	}
}

// margin bottom
.mb {

	@for $i from 1 through 10 {
		&--#{$i*10} {
			margin-bottom: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 10 {
			&--sm-#{$i*10} {
				margin-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 10 {
			&--md-#{$i*10} {
				margin-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 10 {
			&--lg-#{$i*10} {
				margin-bottom: #{$i*10}px;
			}
		}
	}
}

// padding top
.pt {

	@for $i from 1 through 10 {
		&--#{$i*10} {
			padding-top: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 10 {
			&--sm-#{$i*10} {
				padding-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 10 {
			&--md-#{$i*10} {
				padding-top: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 10 {
			&--lg-#{$i*10} {
				padding-top: #{$i*10}px;
			}
		}
	}
}

// padding bottom
.pb {

	@for $i from 1 through 15 {
		&--#{$i*10} {
			padding-bottom: #{$i*10}px;
		}
	}

	@media (min-width: 576px) {

		@for $i from 1 through 15 {
			&--sm-#{$i*10} {
				padding-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 768px) {

		@for $i from 1 through 15 {
			&--md-#{$i*10} {
				padding-bottom: #{$i*10}px;
			}
		}
	}

	@media (min-width: 992px) {

		@for $i from 1 through 15 {
			&--lg-#{$i*10} {
				padding-bottom: #{$i*10}px;
			}
		}
	}
}

// overflow hidden
.overflow {
	overflow: hidden;
}