.header-container-wrapper {

	.row-fluid [class*="span"] {
		min-height: 0;
	}
}

.sgp19-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	min-width: 100%;
	z-index: 999!important;

	& > .row-fluid-wrapper {

		& > .row-fluid {
			height: 83px;
			background-color: #fff;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			text-align: center;
			justify-content: flex-end;
			border-bottom: 1px solid hubl("$first_color");

			@media (min-width: 992px) {
				justify-content: center;
			}
		}
	}

	&__logo, &__menu, &__search, &__weather-box, &__my-account-box, &__mobile-menu {
		margin: 0 !important;
		width: 100% !important;
	}

	&__logo {
		padding-left: 15px;
		padding-right: 15px;
		margin-right: auto !important;
		text-align: left;

		@media (min-width: 576px) {
			padding-left: 25px;
		}

		@media (min-width: 992px) {
			text-align: center;
			max-width: 20%;
			padding-left: 10px;
			margin-right: 0 !important;
		}

		@media (min-width: 1200px) {
			max-width: 19%;
		}
	}

	&__menu {
		display: none !important;

		@media (min-width: 992px) {
			display: block !important;
		}

		.hs_cos_wrapper_type_menu {
			.hs-menu-wrapper {

				> ul {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
					width: 100%;
					height: 100%;

					li.hs-menu-depth-1 {
						float: none;
						border-left: 1px solid rgba(#707070, .3);
						width: 100%;
						position: static;

						&:last-of-type {
							border-right: 1px solid rgba(#707070, .3);
						}

						&:hover {
							& > a {
								color: hubl("$first_color");

								&:after {
									opacity: 1;
									transform: translateY(0);
								}
							}

							ul.hs-menu-children-wrapper {
								opacity: 1 !important;
								visibility: visible !important;
							}

							.hs-menu-depth-2 {

								& > a {
									transform: translateY(0) !important;
									opacity: 1 !important;
									transition: all .5s ease;
								}

								.hs-menu-children-wrapper {
									transform: translateY(0) !important;
									opacity: 1 !important;
									transition: all .6s ease;
									transition-delay: .3s;
								}
							}



							ul.hs-menu-children-wrapper {

								li.divider {
									opacity: 1;
									transition: all .6s ease;
									transition-delay: .6s;
								}
							}
						}

						a {
							color: hubl("$main_font_color");
							text-transform: uppercase;
							padding: 0;
						}

						& > a {
							position: relative;
							width: 100%;
							height: 83px;
							display: flex;
							align-items: center;
							justify-content: center;
							font-weight: 600;
							font-size: 14px;
							white-space: normal;
							padding-left: 10px;
							padding-right: 10px;

							@media (min-width: 1200px) {
								font-size: 16px;
							}

							&:after {
								position: absolute;
								display: block;
								content: "";
								width: 100%;
								height: 4px;
								background-color: hubl("$first_color");
								bottom: 0;
								left: 0;
								opacity: 0;
								transform: translateY(100%);
								transition: all .5s ease;
							}
						}

						ul.hs-menu-children-wrapper {
							opacity: 0 !important;
							visibility: hidden !important;
						}

						& > ul.hs-menu-children-wrapper {
							position: absolute;
							width: 100%;
							top: 100% !important;
							left: 0;
							background-color: #fff;
							display: flex;
							flex-wrap: wrap;
							justify-content: space-between;
							transition: none;
							list-style: none;
							margin: 0;
							padding: 0;
							text-align: left;
							padding-top: 40px;
							padding-bottom: 0;
							padding-left: 80px;
							padding-right: 80px;
							border-bottom: 1px solid hubl("$first_color");

							@media (min-width: 1200px) {
								flex-wrap: nowrap;
							}


							li.divider {
								display: none;
								width: 1px;
								background-color: rgba(#707070, .3);
								margin-bottom: 45px;
								opacity: 0;

								@media (min-width: 1200px) {
									display: block;
								}

								&:last-of-type {
									display: none;
								}
							}

							li.hs-menu-depth-2 {
								padding-left: 50px;
								padding-right: 50px;
								width: 100%;
								max-width: calc(50% - 1px);
								margin-bottom: 25px;

								&:first-child:last-child {
									max-width: 100%;
								}

								@media (min-width: 1200px) {
									width: auto;
									max-width: 100%;
								}

								> a {
									font-size: 20px;
									font-weight: bold;
									margin-bottom: 25px;
									transform: translateY(100px);
									opacity: 0;
								}

								& > ul.hs-menu-children-wrapper {
									position: relative;
									left: 0;
									top: 0;
									opacity: 0;
									transform: translateY(100px);


									li.hs-menu-depth-3 {
										width: auto;
										margin-bottom: 25px;

										> a {
											font-weight: 500;

											&:hover {
												color: hubl("$cta_background");
											}
										}


									}

									&.menu-columns {
										display: flex;
										flex-wrap: nowrap;

										& > .hs-menu-item {
											margin-right: 40px;
											margin-bottom: 0;

											&:last-of-type {
												margin-right: 0;
											}
										}
									}
								}
							}

							li.hs-menu-depth-3 {

								&.hs-item-has-children {
									> a {
										display: none;
									}
								}


								& > ul.hs-menu-children-wrapper {
									position: relative;
									left: 0;
								}

							}

							li.hs-menu-depth-4 {
								margin-bottom: 25px;
								width: 100%;

								& > a {
									font-weight: 500;

									&:hover {
										color: hubl("$cta_background");
									}
								}
							}


							&--expand {
								padding-left: 15px;
								padding-right: 15px;

								a {
									white-space: normal !important;
								}

								li.hs-menu-depth-2 {
									padding-left: 25px;
									padding-right: 25px;
								}
							}
						}
					}
				}
			}
		} 
	}

	&__search {
		min-width: 83px;
		max-width: 83px;
		display: none !important;

		@media (min-width: 576px) {
			display: block !important;
		}

		@media (min-width: 768px) {
			max-width: 10%;
		}

		@media (min-width: 1200px) {
			max-width: 8%;
		}
	}

	&__weather-box {
		min-width: 83px;
		max-width: 83px;
		display: none !important;

		@media (min-width: 576px) {
			display: block !important;
		}

		@media (min-width: 768px) {
			max-width: 10%;
		}

		@media (min-width: 1200px) {
			max-width: 8%;
		}
	}

	&__my-account-box {
		min-width: 83px;
		max-width: 83px;

		@media (min-width: 768px) {
			max-width: 10%;
		}

		@media (min-width: 1200px) {
			max-width: 8%;
		}
	}

	&__mobile-menu {
		display: block;
		min-width: 60px;
		max-width: 60px;

		@media (min-width: 400px) {
			min-width: 83px;
			max-width: 83px;
		}

		@media (min-width: 768px) {
			max-width: 10%;
		}

		@media (min-width: 992px) {
			display: none !important;
		}
	}
}