.sgp19-weather-box {
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    background-color: #424242;

    .current-weather-wrapper {
        width: 100%;

        .current-weather {
            width: 100%;

            .icons,
            .properties {
                display: flex;
                width: 100%;

                >div {
                    width: 50%;
                }

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-top: 12px;
                    margin-bottom: 0;

                    span {
                        color: white;

                        &:nth-child(2) {
                            position: relative;
                            top: -5px;
                        }
                    }
                }
            }

            .icons {
                >div{
                    img{
                        width:25px;
                    }
                }
            }
        }

        .more-weather {
            position: absolute;
            top: 83px;
            left: 0;
            width: 100%;
            height: 269px;
            display: block;
            // display:none;
            background-color: #424242;
            border-bottom: 1px solid #037e8c;
            padding: 40px 80px 0px 80px;

            @media(max-width: 1530px) {
                padding: 40px 15px 0px 15px;
            }

            @media(max-width:991px) {
                height: auto;
                position: static;
                top: auto;
                left: auto;
                // display:none;
            }

            .more-weather-inner {
                display: flex;
                max-width: 1366px;
                margin: 0 auto;

                @media(max-width: 991px) {
                    flex-wrap: wrap;
                }

                .snow-today {
                    display: none;
                }

                .snow-next {
                    flex-grow: 3;

                    border-right: 1px solid #555555;



                    .elements {
                        .element {}
                    }
                }

                .forecast {
                    flex-grow: 3;
                    border-right: 1px solid #555555;

                    @media(max-width: 991px) {
                        border: none;
                    }


                    .element {
                        .numbers {}
                    }
                }

                .lift-trials {
                    flex-grow: 4;

                    width: 100%;

                    .bars-and-numbers {

                        .top,
                        .bottom {
                            display: flex;
                            align-items: center;

                            .bar {
                                position: relative;
                                width: 100%;

                                .background-bar,
                                .green-bar {
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    width: 100%;
                                    height: 10px;
                                    transform: translate(0, -50%);
                                    background-color: #555555;
                                }

                                .green-bar {
                                    width: 80%;
                                    background-color: #067F8D;
                                }
                            }

                            .numbers {
                                padding: 0 10px;
                                min-width: 80px;
                                text-align: left;


                                p {
                                    color: white;
                                    font-size: 20px;
                                    font-weight: 700;
                                    margin: 0;

                                    span {
                                        &:nth-child(1) {}

                                        &:nth-child(2),
                                        &:nth-child(3) {
                                            font-size: 12px;
                                            font-weight: 300;
                                        }
                                    }
                                }
                            }
                        }

                        .title {
                            p {
                                font-size: 13px;
                                text-align: left;
                                margin-top: 0;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }

                >div {
                    padding: 0 25px;

                    @media(max-width: 1200px) {
                        padding: 0 15px;
                    }
                }

                h4 {
                    color: white;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 0;
                    text-align: left;
                }

                .elements {
                    display: flex;

                    .element {
                        text-align: left;
                        padding-right: 30px;

                        @media(max-width: 1200px) {
                            padding-right: 15px;
                        }

                        img {
                            max-width: 22px;
                        }

                        .numbers {
                            font-size: 24px;
                            font-weight: 500;

                            span {
                                &:nth-child(2) {
                                    position: relative;
                                    top: -5px;
                                }
                            }
                        }

                        .days {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        &:hover {
            .more-weather {
                // display:block;
            }
        }
    }

    &.oryginal {
        cursor:pointer;
        .current-weather-wrapper {
            .more-weather {
                display:none;
                // display:block;
                @media(max-width: 991px) {
                    display: none !important;
                }
                .snow-next-title {
                    opacity: 0;
                    transform: translateY(100px);
                    transition: 1s ease;
                }
                .forecast-title{
                    opacity: 0;
                    transform: translateY(100px);
                    transition: 1s ease;
                }
                .lift-trials-title{
                    opacity: 0;
                    transform: translateY(100px);
                    transition: 1s ease;
                }
            }
            .current-weather {
                width: 100%;
    
                .icons,
                .properties {

                    h4 {
                        @media(max-width:1000px){
                            font-size:20px;
                        }
                    }
                }
            }
        }
        &:hover{
            .current-weather-wrapper{
                .more-weather {
                    display:block;

                        .snow-next-title{
                            opacity: 1;
                            transform: translateY(0px);
                            transition: 1s ease;
                        }
                        
                        .forecast-title{
                            opacity: 1;
                            transform: translateY(0px);
                            transition: 1s ease;
                        }
                        .lift-trials-title{
                            opacity: 1;
                            transform: translateY(0px);
                            transition: 1s ease;
                        }
                    
                }
            }
        }
    }

    &.cloned {
        @media(min-width:992px){
            display:none;
        }
        height: auto;

        .current-weather-wrapper {
            .current-weather {
                @media(min-width: 576px){
                    display: none;
                }
                .icons{
                    img{
                        width:40px;
                    }
                }
            }
            .more-weather{
                border:none;
                .more-weather-inner{
                    >div{
                        margin-bottom:20px;
                    }
                    @media(max-width:600px){
                        flex-direction: column;
                    }
                    .snow-next{
                        @media(max-width:600px){
                            border-right:none;
                        }
                    }
                    .elements{
                        .element{
                            span{
                                @media(max-width:360px){
                                font-size:20px;
                            }
                            &:nth-child(2){
                                font-size:18px;
                            }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

// .more-weather{
//     display:block !important;
// }