// categories filter
.pass-box-categories {
	width: 100%;
	margin-bottom: 40px;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 768px) {
		max-width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}

	&__item {
		position: relative;
		padding-bottom: 10px;
		color: hubl("$main_font_color");
		opacity: .5;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		margin-top: 10px;
		display: inline-block;
		text-align: center;
		width: 100%;


		@media (min-width: 768px) {
			width: auto;
			margin-right: 45px;
		}

		&:after {
			opacity: 0;
			display: block;
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 4px;
			background-color: hubl("$first_color");
			transition: all .3s ease;

			@media (min-width: 768px) {
				width: calc(100% + 5px);
			}
		}

		&:hover {
			opacity: 1;
		}

		&.me-category-filter__categories-item--active {
			color: hubl("$first_color");
			opacity: 1;

			&:after {
				opacity: 1;
			}
		}
	}
}

// boxes
.pass-box-wrapper {
	display: flex;
	opacity: 0;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
	transition: all .3s ease;
	margin-bottom: 30px;

	@media (min-width: 768px) {
		max-width: 100%;
	}

	&--initialized {
		opacity: 1;
	}
}

.gutter-sizer {
	width: 3%;
}

.grid-sizer {
	width: 100%;
	max-width: 480px;	

	@media (min-width: 768px) {
		width: 48.5%;
	}

	@media (min-width: 992px) {
		width: 31.33%;
	}
}

.pass-box {
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	min-height: 345px;
	overflow: hidden;
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width: 768px) {
		margin-left: 0;
		margin-right: 0;
		width: 48.5%;

	}

	@media (min-width: 992px) {
		width: 31.33%;
	}



	&:hover {
		.pass-box__background {
			filter: blur(4px);
		}

		.pass-box__content {
			max-height: 100%;
			background-color: hubl_rgba("$first_color", .7);
		}

		.pass-box__content-inner-visible {
			max-height: 100%;
		}

		.pass-box__content-title {

			h3 {
				color: #fff;
			}
		}

		.pass-box__content-text {

			p, li, h1, h2, h3, h4, h5, h6, span {
				color: #fff !important;
			}
		}

		.pass-box__content-inner-hidden {
			bottom: 30px;
			opacity: 1;
			transition-delay: .3s;
		}
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all .6s ease;
	}

	&__content {
		position: absolute;
		display: flex;
		// flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 140px;
		background-color: rgba(255, 255, 255, .7);
		padding: 30px 20px 20px 20px;
		overflow: hidden;
		transition: all .6s ease;
	}

	&__content-inner-visible {
		overflow: hidden;
		max-height: 100px;
		width: 100%;
		transition: all .6s ease;
		padding-bottom: 70px;
	}

	&__content-title {
		width: 100%;

		h3 {
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 15px;
			line-height: 1.3;
			margin-top: 0;
			transition: all .6s ease;
		}
	}

	&__content-text {
		width: 100%;
		font-size: 16px;

		p, li, span, h2, h3, h4, h5, h6 {
			font-size: 16px;
			transition: all .6s ease;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}

	&__content-inner-hidden {
		opacity: 0;
		position: absolute;
		transition: all .6s ease;
		bottom: 20px;
		left: 20px;
	}

	&__content-button {
		width: 100%;

		.cta {
			display: inline-block;
			border: 2px solid #fff;
			color: #fff;
			font-size: 16px;
			padding: 12.5px 15px;
			text-transform: uppercase;
			font-weight: 500;
			transition: all .3s ease;

			&:hover {
				background-color: #fff;
				color: hubl("$first_color");
			}
		}
	}
}


//load more
.pass-box-categories__load-more {
	text-align: center;
	margin-bottom: 30px;

	a {
		border: 2px solid hubl("$first_color");
		color: hubl("$first_color");
		font-size: 16px;
		padding: 12.5px 15px;
		text-transform: uppercase;
		font-weight: 500;
		transition: all .3s ease;
		display: inline-block;

		&:hover {
			background-color: hubl("$first_color");
			color: #fff;
		}
	}
}