.sgp19-my-account-box {
	height: 83px;
	background-color: hubl("$first_color");
	display: flex;
	align-items: center;
	text-align: left;
	color: #fff;
	padding: 13px;

	&__link {
		width: 100%;

		&:hover {
			.sgp19-my-account-box__icon {
				svg * {
					stroke: hubl("$cta_background");
				}
			}

			.sgp19-my-account-box__text {
				color: hubl("$cta_background");
			}
		}
	}

	&__icon {
		margin-bottom: 6px;

		svg * {
			transition: all .3s ease;
		}
	}

	&__text {
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		transition: all .3s ease;

		@media (min-width: 1200px) {
			font-size: 12px;
		}
	}
}