.drp-calendar {
	td {
		&.active {
			background-color: hubl("$first_color") !important;
			color: hubl("$cta_color") !important;
		}

		&.disabled {
			opacity: .2;
		}
	}

	th {
		color: hubl("$first_color");
	}
}

.filters-inputs {

	.container {
		display: flex;
		flex-wrap: wrap;
		max-width: 909px;
		position: relative;

	}

	&__header {
		width: 100%;
		text-align: center;
		margin-bottom: 32px;
		font-weight: 600;
		font-size: 29px;
		text-transform: uppercase;
	}

	&__input {
		position: relative;
		width: 22.5%;
		z-index: 1;
		@media (max-width: 1024px) {
			width: 33.33333%;
		}
		@media (max-width: 768px) {
			width: 100%;
			height: 80px;
		}

		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		span {
			font-size: 11px;
			font-weight: 500;
			@media (max-width: 768px) {
				width: 100%;
				display: block;
			}
		}

		.input-image {
			pointer-events: none;
			position: absolute;
			top: 31px;
			left: 0;
			z-index: 3;
		}

		.daterangepicker {
			margin-top: 22px;
			font-size: 21px;
			color: hubl("$first_color");
			padding-left: 40px;
			width: 170px;
			top: 0;
			left: 0;
			border-radius: 0;
			border: none;
			border-bottom: 2px solid hubl("$first_color");
			z-index: 2;

			@media (max-width: 768px) {
				width: 100%;
			}
		}

		.number-input {
			border-bottom: 2px solid hubl("$first_color");
			display: inline-flex;
			box-sizing: border-box;
			@media (max-width: 768px) {
				width: 100%;
			}
			@media all and (-ms-high-contrast: none) {
				height: 30px;
				margin-top: 5px;
			}
			@supports (-ms-ime-align:auto) {
				height: 30px;
				margin-top: 5px;
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			input[type=number] {
				-moz-appearance: textfield;
			}

			input {
				height: 26px;
				font-weight: 500;
				font-size: 19px;
				text-align: center;
				border: none;
				color: hubl("$first_color");
				margin-left: -5px;
				appearance: none;
				width: 140px;
				@media (max-width: 768px) {
					width: 100%;
					height: 30px;
				}
				@media all and (-ms-high-contrast: none) {
					margin-top: -6px;
				}
			}

			button {
				outline: none;
				appearance: none;
				width: 23px;
				height: 23px;
				cursor: pointer;
				margin: 0;
				position: relative;
				border: 2px solid hubl("$first_color");
				border-radius: 50%;
				background-color: #FFFFFF;

				&:before,
				&:after {
					content: '';
					padding: 0;
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 12px;
					height: 2px;
					background-color: hubl("$first_color");
					transform: translate(-50%, -50%);
				}

				&.plus {
					margin-left: -18px;

					&:after {
						transform: translate(-50%, -50%) rotate(90deg);
					}
				}

			}
		}

		.styled {
			width: 270px;
			height: 34px;
			border-bottom: 2px solid hubl("$first_color");
			overflow: hidden;
			padding-left: 38px;
			position: relative;
			@media (max-width: 1024px) {
				width: 240px;
				padding-left: 22px;
			}
			@media (max-width: 768px) {
				width: 100%;
				height: 45px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 8px;
				right: 4px;
				width: 12px;
				height: 12px;
				border-right: 2px solid hubl("$first_color");
				border-bottom: 2px solid hubl("$first_color");
				transform: rotate(45deg);
				@media (max-width: 768px) {
					top: 15px;
				}
			}

			select {
				appearance: none;
				color: hubl("$first_color");
				border: none;
				background: transparent;
				width: 260px;
				font-size: 19px;
				height: 34px;
				outline: none;
				@media (max-width: 1024px) {
					width: 240px;
				}
				@media (max-width: 768px) {
					width: 100%;
					width: calc(100% + 30px);
					height: 50px;
				}
			}
		}
	}

	&__button {
		position: absolute;
		right: 0;
		bottom: 0;
		@media (max-width: 1024px) {
			position: relative;
			bottom: auto;
			right: auto;
			display: flex;
			justify-content: flex-start;
			margin-top: 30px;
			width: 100%;
		}
		@media (max-width: 768px) {
			width: 100%;
			margin-top: 0;
		}

		.cta_button {
			font-size: 15px !important;
			background-color: hubl("$first_color");
			border-color: hubl("$first_color");
			@media (max-width: 768px) {
				width: 100%;
			}
		}
	}
}

.filters-list {
	max-width: 1140px;
	margin: 0 auto;
	padding: 68px 0 55px;
	@media (max-width: 1024px) {
		padding-right: 2%;
		padding-left: 2%;
	}
	@media (max-width: 768px) {
		padding-top: 20px;
	}

	&__item {
		width: 270px;
		position: relative;
		padding-bottom: 22px;
		margin: 0 auto;
		@media (max-width: 1400px) {
			width: 100%;
		}

		&.awarded {
			box-shadow: 0 0 15px hubl_rgba("$main_font_color", .05);
		}

		&__tag {
			position: absolute;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
			background-color: hubl("$cta_background");
			color: hubl("$cta_color");
			padding: 4px 6px;
			line-height: 1;
			text-transform: uppercase;
			border: 2px solid hubl("$cta_color");
			font-size: 10px;
			font-weight: 500;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 2px solid hubl("$main_font_color");
			opacity: .05;
			pointer-events: none;
			z-index: -1;
		}

		&__header {
			display: flex;
			align-items: center;
			justify-content: center;
			color: hubl("$cta_color");
			background-color: hubl("$first_color");
			padding: 38px 10px 0;
			line-height: 1.2;
			text-align: center;
			font-size: 28px;
			text-transform: uppercase;
			font-weight: 600;
		}

		&__subheader {
			display: flex;
			align-items: center;
			justify-content: center;
			color: hubl("$cta_color");
			background-color: hubl("$first_color");
			padding: 15px 10px 25px;
			line-height: 1.2;
			text-align: center;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 500;
		}

		&__save {
			color: hubl("$first_color");
			padding: 12px 10px;
			text-align: center;
			font-size: 19px;
			font-weight: 500;
		}

		&__desc {
			color: hubl("$main_font_color");
			padding: 0 10px 12px;
			text-align: center;
			font-size: 11px;
			line-height: 1.6;
			font-weight: 500;
		}

		&__price {
			color: hubl("$main_font_color");
			padding: 2px 10px 12px;
			text-align: center;
			font-size: 29px;
			font-weight: 600;
		}

		&__button {
			margin: 10px auto;
			display: flex;
			justify-content: center;
			width: 130px;
			font-size: 15px !important;

			a {
				background-color: hubl("$first_color");
				border-color: hubl("$first_color");;
			}
		}
	}

	.swiper-container {
		padding-top: 20px;
		padding-bottom: 77px;
		position: relative;
		overflow: visible;

		&:before {
			content: '';
			z-index: 99;
			position: absolute;
			top: -65px;
			right: 100%;
			width: 100%;
			bottom: 0;
			pointer-events: none;
			background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, .5) 99%, rgba(255, 255, 255, .1) 100%);
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, .5) 99%, rgba(255, 255, 255, .1) 100%);
			background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 0.8) 98%, rgba(255, 255, 255, .5) 99%, rgba(255, 255, 255, .1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
		}

		&:after {
			content: '';
			z-index: 99;
			position: absolute;
			top: -65px;
			left: 100%;
			width: 100%;
			bottom: 0;
			pointer-events: none;
			background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 1%, rgba(255, 255, 255, 0.8) 2%, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 1) 100%);
			background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 1%, rgba(255, 255, 255, 0.8) 2%, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 1) 100%);
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 1%, rgba(255, 255, 255, 0.8) 2%, rgba(255, 255, 255, 1) 3%, rgba(255, 255, 255, 1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
		}


		.swiper-button-next {
			right: -150px;
			z-index: 100;
			height: 30px;
			background-size: contain;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTg1LjM0MyAxODUuMzQzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxODUuMzQzIDE4NS4zNDM7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBzdHlsZT0iZmlsbDojMDM3RThDIiBkPSJNNTEuNzA3LDE4NS4zNDNjLTIuNzQxLDAtNS40OTMtMS4wNDQtNy41OTMtMy4xNDljLTQuMTk0LTQuMTk0LTQuMTk0LTEwLjk4MSwwLTE1LjE3NSAgICBsNzQuMzUyLTc0LjM0N0w0NC4xMTQsMTguMzJjLTQuMTk0LTQuMTk0LTQuMTk0LTEwLjk4NywwLTE1LjE3NWM0LjE5NC00LjE5NCwxMC45ODctNC4xOTQsMTUuMTgsMGw4MS45MzQsODEuOTM0ICAgIGM0LjE5NCw0LjE5NCw0LjE5NCwxMC45ODcsMCwxNS4xNzVsLTgxLjkzNCw4MS45MzlDNTcuMjAxLDE4NC4yOTMsNTQuNDU0LDE4NS4zNDMsNTEuNzA3LDE4NS4zNDN6IiBkYXRhLW9yaWdpbmFsPSIjMDEwMDAyIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDEwMDAyIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==');
			@media (max-width: 1470px) {
				right: -85px;
			}
		}

		.swiper-button-prev {
			left: -150px;
			z-index: 100;
			height: 30px;
			background-size: contain;
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTg1LjM0MyAxODUuMzQzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxODUuMzQzIDE4NS4zNDM7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBzdHlsZT0iZmlsbDojMDM3RThDIiBkPSJNNTEuNzA3LDE4NS4zNDNjLTIuNzQxLDAtNS40OTMtMS4wNDQtNy41OTMtMy4xNDljLTQuMTk0LTQuMTk0LTQuMTk0LTEwLjk4MSwwLTE1LjE3NSAgICBsNzQuMzUyLTc0LjM0N0w0NC4xMTQsMTguMzJjLTQuMTk0LTQuMTk0LTQuMTk0LTEwLjk4NywwLTE1LjE3NWM0LjE5NC00LjE5NCwxMC45ODctNC4xOTQsMTUuMTgsMGw4MS45MzQsODEuOTM0ICAgIGM0LjE5NCw0LjE5NCw0LjE5NCwxMC45ODcsMCwxNS4xNzVsLTgxLjkzNCw4MS45MzlDNTcuMjAxLDE4NC4yOTMsNTQuNDU0LDE4NS4zNDMsNTEuNzA3LDE4NS4zNDN6IiBkYXRhLW9yaWdpbmFsPSIjMDEwMDAyIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDEwMDAyIj48L3BhdGg+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPg==');
			transform: rotate(180deg);
			@media (max-width: 1470px) {
				left: -85px;
			}
		}

		.swiper-pagination {
			color: hubl("$first_color");
			font-size: 13px;
			font-weight: 600;
		}
	}
}