.sgp19-mobile-menu {
	font-size: 0;

	// Hamburger
	&__hamburger {
		font: inherit;
		display: inline-block;
		overflow: visible;
		margin: 0;
		padding: 10px;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: .15s;
		transition-property: opacity,filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: #fff;
		width: 50px;
		height: 50px;
		text-align: center;

		&:active {
			background-color: #fff;
		}
	}

	&__hamburger-box {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		perspective: 80px;
	}

	&__hamburger-inner, &__hamburger-inner:after, &__hamburger-inner:before {
		position: absolute;
		width: 100%;
		height: 2px;
		transition: all .3s ease;
		background-color: hubl("$first_color");
	}

	&__hamburger-inner {
		top: 50%;
		display: block;
		margin-top: -2px;
		transform: .15s cubic-bezier(.645,.045,.355,1),background-color 0s cubic-bezier(.645,.045,.355,1) .1s;
		
		&:after, &:before {
			display: block;
			content: "";
		}

		&:before {
			top: -10px;
		}

		&:after {
			bottom: -10px;
		}
	}

	&__hamburger.is-active  {
		background-color: transparent;
		transform: scale(0.8);

		@media (min-width: 576px) {
			transform: scale(1);
		}

		.sgp19-mobile-menu__hamburger-box {

			.sgp19-mobile-menu__hamburger-inner, .sgp19-mobile-menu__hamburger-inner:after, .sgp19-mobile-menu__hamburger-inner:before {
			}
		}

		.sgp19-mobile-menu__hamburger-inner {
			transform: rotateY(180deg);
			background-color: transparent!important;
		}

		.sgp19-mobile-menu__hamburger-inner:after {
			transform: translate3d(0,-10px,0) rotate(-45deg);
		}

		.sgp19-mobile-menu__hamburger-inner:before {
			transform: translate3d(0,10px,0) rotate(45deg)
		}
	}



	// Slicknav
	&__nav {

		.slicknav_menu {
			position: absolute;
			top: 100%;
			display: block;

			.slicknav_btn {
				display: none;
			}

			.slicknav_nav {
				margin-top: 0 !important; 
				background-color: #424242;
				max-height: calc( 100vh - 83px);
				height: 100vh;

				ul {
					width: 100%;
					text-align: left;
					padding: 0;
					padding: 30px 25px 20px;

					.slicknav_row {

						&:hover {
							background-color: transparent;
						}
					}

					.slicknav_arrow {
						height: 21px;
						width: 21px;
						margin: 0;
						display: block;
						position: absolute;
						right: 25px;
						top: 50%;
						left: unset;
						transform: translateY(-50%);
					}

					li {
						display: block;
						width: 100%;
						padding: 0;
						margin: 0 0 10px 0;


						&:before {
							display: none;
						}

						a {
							padding: 0;
							margin: 0;

							&:hover {
								background-color: transparent;
								color: #fff;
							}
						}

						.slicknav_item {
							width: 100%;
							display: block;
							position: relative;
						}

						ul {
							padding: 10px 15px 0;
						}
					}

					.slicknav_open {
						border-bottom: none !important;
					}

					& > li {

					}
				}
			}
		}
	}
}
