.sgp19-search {
	display: block;
	position: relative;
	height: 83px;
	width: 100%;

	&__button {

		svg {
			* {
				transition: all .3s ease;
			}
		}

		&:hover {
			svg {
				* {
					stroke: hubl("$first_color");
				}
			}
		}
	}

	&__button-open, &__button-close {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: all .4s ease;
	}

	&__button-open {
		opacity: 1;
		transform: translateX(-50%) translateY(-50%) perspective(500px) rotateY(0deg);
	}

	&__button-close {
		opacity: 0;
		transform: translateX(-250%) translateY(-50%) perspective(500px) rotateY(25deg);
	}


	&__form {
		visibility: hidden;
		position: absolute;
		right: 100%;
		top: 0;
		width: calc(100vw - 332px);
		overflow: hidden;

		@media (min-width: 768px) {
			width: calc(60vw);
		}

		@media (min-width: 992px) {
			width: calc(50vw);
		}

		@media (min-width: 1200px) {
			width: calc(57vw);
		}

		form {
			background-color: hubl("$first_color");
			transform: translateX(100%);
			height: 83px;
			padding-right: 20px;
			padding-left: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: nowrap;
			transition: all .6s ease;

			@media (min-width: 768px) {
				padding-right: 40px;
				padding-left: 30px;
			}
		}
	}

	&__form-input {
		width: 100%;
		padding-right: 20px;

		input[type=search] {
			display: inline-block;
			padding: 10px 20px;
			font-family: hubl("$font");
			font-size: 14px;
			width: 100%;
			appearance: none;
			border: none;
			border-radius: 20px;

			@media (min-width: 768px) {
				width: calc(100% - 30px);
			}
		}
	}

	&__form-submit {
		position: relative;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {

			* {
				transition: all .3s ease;
			}
		}

		&:hover {
			
			svg {

				* {
					stroke: hubl("$cta_background");
				}
			}
		}

		input[type=submit] {
			position: absolute;
			width: 30px;
			height: 30px;
			cursor: pointer;
			z-index: 2;
			appearance: none;
			opacity: 0;
		}

		svg {
			position: relative;
			z-index: 1;
		}
	}
}


.sgp19-search--active {
	.sgp19-search {

		&__button-open {
			opacity: 0;
			transform: translateX(150%) translateY(-50%) perspective(500px) rotateY(25deg);

		}

		&__button-close {
			opacity: 1;
			transform: translateX(-50%) translateY(-50%) perspective(500px) rotateY(0deg);

		}

		&__form {
			visibility: visible;

			form {
				transform: translateX(0);
			}
		}
	}
}



.slicknav-search {
	position: relative;

	.sgp19-search {
		display: block;

		@media (min-width: 576px) {
			display: none;
		}

		&__button {
			display: none;
		}

		&__form {
			visibility: visible;
			position: relative;
			right: 0;
			top: 0;
			width: 100%;

			form {
				background-color: transparent;
				transform: translateX(0);
			}
		}
	}
}